header .nav-wrapper {
    background-color: #000 !important;
    height: 108px !important;
}

.block-4-images {
    font-size: 20px;
    text-align: center;
}

.underline h3::after {
    border-bottom: 2px solid black !important;
}

.cards.block-five-cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(227px, 1fr)) !important;
}

.cards.cards.block-five-cards .cards-card-body h5 {
    font-size: 21px !important;
    margin-top: 0px !important;
}

main .hero {
    height: 0 !important;
    min-height: 0 !important;
}
.carousel-container
{
    margin-top: -93px !important;
}

.carousel-container .default-content-wrapper, .carousel-container .carousel-wrapper
{
  max-width: 100% !important;
}

.title-section {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.columns > div {
    border-bottom: 0px !important;
}

.block-4-images .columns > div {
    height: 350px !important;
}